---
pageable: true
per_page: 6
cover: cover.jpg
title: Grant Ammons
---

%header.main-header{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: blog_settings.name
  .vertical
    .main-header-content.inner
      %h1.page-title Hi, I'm Grant Ammons.
      %h2.page-description I talk about engineering leadership.
  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '-45'}}
    %span.hidden Scroll Down

%main#content.content{role: :main}
  %article.post
    %section
      %p I am focused on building better software products and engineering teams through fostering an amazing team culture, developing software smarter, and utilizing the right metrics. I have hired and currently manage multiple development teams, defined and matured the software development process, and built an infrastructure with three 9s of uptime.

    = link_to "Learn more", "/about"
    |
    = link_to "Github", "https://github.com/gammons"
    |
    = link_to "Twitter", "https://twitter.com/gammons"
    |
    = link_to "LinkedIn", "https://www.linkedin.com/in/grant-ammons-70611"
    |
    = link_to "Email", "mailto:gammons@gmail.com"

  = partial(:page_articles,
            locals: { page_articles: page_articles, paginate: paginate })
